.tweetBox {
  padding-bottom: 10px;
  border-bottom: 8px solid var(--twitter-background);
  padding-right: 10px;
}

.tweetBox > form {
  display: flex;
  flex-direction: column;
}

.tweetBox__input {
  padding: 20px;
  display: flex;
}

.tweetBox__input > input {
  flex: 1;
  margin-left: 20px;
  font-size: 20px;
  border: none;
}

.tweetBox__input a {
  background-color: transparent;
  color:var(--twitter-color);
  text-decoration: none;
  cursor: pointer;
}

.tweetBox__imageInput {
  border: none;
  padding: 10px;
}

.tweetBox__tweetButton {
  background-color: var(--twitter-color) !important;
  border: none !important;
  color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  width: 80px;
  height: 40px !important;
  margin-top: 20px !important;
  margin-left: auto !important;
}

/* Tribute Input Autocompleted */
.tribute-demo-input {
  outline: none;
  border: 1px solid #eee;
  padding: 3px 5px;
  border-radius: 2px;
  font-size: 15px;
  min-height: 32px;
  cursor: text;
  flex: 1;
  margin-left: 20px;
  font-size: 20px;
  border: none;
}
.tribute-demo-input:focus {
  border-color: #d1d1d1;
}
[contenteditable="true"]:empty:before {
  content: attr(placeholder);
  display: block;
  color: #ccc;
}
#test-autocomplete-container {
  position: relative;
}
#test-autocomplete-textarea-container {
  position: relative;
}
.float-right {
  float: right;
}
.tribute-container {
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
  overflow: auto;
  display: block;
  z-index: 999999;
}
.tribute-container ul {
  margin: 0;
  margin-top: 2px;
  padding: 0;
  list-style: none;
  background: white;
  border: 1px solid #c7c7c7;
  box-shadow: 2px 2px 5px #888888;
}
.tribute-container li {
  padding: 5px 5px;
  cursor: pointer;
  font-size: 20px;  border-bottom: 1px solid #c7c7c7;
}
.tribute-container li.highlight {
  background: #ddd;
}
.tribute-container li span {
  font-weight: bold;
}
.tribute-container li.no-match {
  cursor: default;
}
.tribute-container .menu-highlighted {
  font-weight: bold;
}